* {
  border: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: 'Work Sans', sans-serif;
}

/* Home Page CSS */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: green;
  width: 100vw;
}

#logo img {
  height: 80px;
  background-color: green;
  margin-left: 40%;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-right: 4em;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: white;
}

#footer {
  padding-top: 20px;
  width: 100%;
  height: 50px;
  background-color: green;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-top: 24px;
}

/* Body CSS */

.poke-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 1em;
  gap: 4em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em;
}

#pokeimg {
  width: 14em;
}

.comments,
.reservations {
  cursor: pointer;
  width: fit-content;
  border: 2px solid black;
  padding: 3px;
  box-shadow: 2px 2px 2px black;
  margin: 5px auto;
  background-color: green;
  color: white;
}

/* PopUp CSS */

#commentPopup,
.poke_reservation {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: greenyellow;
  gap: 1em;
  padding: 2em;
  border-radius: 10px;
}

.name {
  font-size: 30px;
  margin-right: 10px;
}

#closePopup {
  grid-column: 1/4;
  text-align: end;
}

#closePopup:hover {
  cursor: pointer;
}

.pokemonInfo {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.popup-container > #pokeimg {
  background-image: url(./img/images1.png);
  background-size: contain;
  background-position: center;
  border-radius: 100px;
}

/* Reservation form */

#reservation-form,
#comment,
#commentform {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;
  text-align: center;
}

#reservation-form > input,
#username,
#commentinput {
  padding: 5px;
  margin: 0;
  width: 300px;
  height: 20px;
}

#reservation-form > button,
.commentsubmit {
  width: 100px;
  height: 20px;
}
